/*nav and landing and basic temp*/

html,
body {
    height: 100%;
    width: 100%;
    background-color:gray;
    font-size:20px;
}

h4, p{

    font-family: 'Merriweather, serif';
 
}

.navbar {
    background-color: #F34D48;
    padding: 1%;
    font-size: 1.4em;
}

.navbar-brand img {
    height: 2em;
    padding: 2px;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 2;
    margin-top: 1em;
}

.landing-text {
    font-size: 80px;
    color: white;
}

.home-inner {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 220px 0 200px;
    filter: blur(3px);
    z-index: 1;
}


section{
    padding-top:0%;
}

.title-wrapper {
    height: 10vh;
    width: 100%;
    padding: 20;
    text-align: center;
    margin-bottom: 50px;

}


/*intro*/

#intro {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.intro .title-wrapper {
    height: 10vh;
    width: 100%;
    padding: 20;
    text-align: center;
    margin-bottom: 50px;

}

h1::after {
    display: block;
    content: '';
    background-color: red;
    width: 200px;
    height: 10px;
    margin: 0 auto;

}

.up {
    height: 40%;
    background-color: #F4FCEA;
    padding: 20px;
    margin: 0 auto;

}

.down {
    height: 40%;
    background-color: #F4FCEA;
    padding: 20px;
    margin: 0pt auto;
}

.middle {
    height: 90%;
    background-color: #F4FCEA;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

.side1 {
    height: 70vh;
    float: left;
    padding: 0;

}

.side2 {
    height: 70vh;
    float: right;
}

.intro {
    height: 100vh;
    width: 100%;

}

h1 {
    text-align: center;
}

section .row {
    padding-top: 20pt;
}

div .p {}

.center-text {
    text-align: center;

}

div h2 {
    text-decoration: underline;
    margin-bottom: 3%;
}

.in h1::after {
    background-color: #F4FCEA;
}














/*seasons*/

#seasons {
    height: 130vh;
    width: 100%;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.img {
    height: 30rem;
    background-size: cover;
    border-radius: 5px;
    border: 10px #DEE5D5 solid;
}

.para {
    padding: 10px 0px;
    background: linear-gradient( rgba(0, 0, 0, .01), rgba(0, 0, 0, .1)), center;
}


/*.separator1 {*/
/*    border-left: 8px solid #D4DF9E;*/
/*    height: 500px;*/
/*    position: absolute;*/
/*    top: 13%;*/
/*    left: .1%;*/
/*    width: 200px;*/
/*}*/

/*.separator2 {*/
/*    border-left: 8px solid #D4DF9E;*/
/*    height: 500px;*/
/*    position: absolute;*/
/*    left: 25.1%;*/
/*    bottom: 10%;*/
/*}*/

/*.separator3 {*/
/*    border-left: 8px solid #D4DF9E;*/
/*    height: 500px;*/
/*    position: absolute;*/
/*    top: 13%;*/
/*    left: 50.1%;*/
/*}*/

/*.separator4 {*/
/*    border-left: 8px solid #D4DF9E;*/
/*    height: 500px;*/
/*    position: absolute;*/
/*    left: 75.1%;*/
/*    bottom: 10%;*/
/*}*/

.sea h1::after {
    background-color: #DAE5A2;
}







.table {
    height:120vh;
    margin:0;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

table {
    margin: 0pt auto;
}
#location .title-wrapper {
    /*margin-bottom:20px;*/
}

table td {
    border: 3px solid #303030;
    width: 8em;
    height: 9em;
    padding: 20px;
    text-align: center;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, .8),
    rgba(0, 0, 0, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
    bottom:-20pt;
    position:relative;
}





.future {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


.content {
    padding-top: 1px;
    height: 100vh;
}

.top,
.center,
.bottom {
    background-color: gray;
    width: 50%;
    height: 13em;
    margin: 0 auto;
    margin-top: 6vh;
}



.window {
    height:10vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
    filter:blur(1px);
}
footer{
    font-size: 10px;
    background-color:gray;
    margin:0;
    color:white;
}

